pkgbase = music-sleeve
	pkgdesc = Native GNOME client for Apple Music, played through Google Chrome
	pkgver = 0.12.0
	pkgrel = 1
	url = https://github.com/Jackicus/GNOME-Music-Sleeve
	arch = any
	license = GPL-2.0-or-later
	checkdepends = appstream
	checkdepends = desktop-file-utils
	makedepends = blueprint-compiler
	makedepends = meson
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk4
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = python
	depends = python-gobject
	optdepends = google-chrome: the playback engine (its Widevine plays the protected streams)
	source = music-sleeve-0.12.0.tar.gz::https://github.com/Jackicus/GNOME-Music-Sleeve/archive/refs/tags/v0.12.0.tar.gz
	sha256sums = SKIP

pkgname = music-sleeve
